/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  font-size: 1.2rem; }
  @media screen and (min-width: 20rem) {
    :root {
      font-size: calc(1.2rem + 0.4 * ((100vw - 20rem) / 30)); } }
  @media screen and (min-width: 50rem) {
    :root {
      font-size: 1.6rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }
  *::selection {
    background: rgba(8, 133, 221, 0.8); }

html {
  position: relative;
  scrollbar-color: #0885dd transparent;
  scrollbar-width: thin; }

body {
  font-family: sans-serif;
  background: #252525;
  color: #d9d9d9; }
  body::-webkit-scrollbar {
    width: 6px; }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: transparent; }
  body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #0885dd;
    background-color: #0885dd; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto; }

button {
  padding: .2em .7em;
  background: #0885dd;
  border-radius: .3em;
  color: #d9d9d9;
  border: 0;
  outline: 0;
  transition: all 0.75s ease-out; }
  button:focus, button:hover, button:active {
    outline: 0;
    cursor: pointer;
    box-shadow: 0 0 0 2px white; }

a {
  text-decoration: none;
  color: #d9d9d9; }

.hidden {
  display: none; }

.header {
  width: 100%;
  padding: 1em .5em .5em; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.loader {
  width: 100%;
  min-height: 10em;
  text-align: center;
  font-size: 0.8rem;
  color: #f70858;
  transform: translateX(0%) translateY(100%); }

.market {
  padding: 2em 0; }
  .market-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 20px; }

.card {
  position: relative;
  max-width: 480px;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: #4b4f58;
  border: 1px solid #131313;
  border-radius: 15px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  animation: fadein 2s; }
  .card-logo {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.75s ease-out;
    transform: translateZ(0px);
    -moz-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    z-index: 1; }
    .card-logo svg rect,
    .card-logo svg polygon,
    .card-logo svg path {
      transition: all 0.75s ease-out;
      fill: #d9d9d9; }
  .card-preview {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d; }
    .card-preview__circle {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      z-index: 1; }
    .card-preview__img {
      position: absolute;
      max-width: 80%;
      transition: all 0.75s ease-out;
      transform: translateZ(0px) rotateZ(0deg);
      -moz-transform: translateZ(0px);
      -webkit-transform: translateZ(0px);
      z-index: 2; }
  .card-info {
    margin-top: 1em;
    width: 100%;
    transform-style: preserve-3d; }
    .card-info__link {
      display: block;
      color: #d9d9d9;
      transition: all 0.75s ease-out; }
      .card-info__link:hover {
        color: #0885dd; }
    .card-info__title {
      min-height: 2rem;
      font-size: 1.1rem;
      font-weight: bold;
      line-height: 1.2; }
    .card-info__desc {
      min-height: 4rem;
      padding: 1em 0;
      font-size: 0.8rem;
      line-height: 1.2;
      transition: all 0.75s ease-out; }
    .card-info__price {
      margin-top: .6em;
      font-size: 1.1rem;
      font-weight: bold;
      transition: all 0.75s ease-out; }
    .card-info__options {
      min-height: 1.8em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      transition: all 0.75s ease-out; }
  .card-purchase {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.75s ease-out;
    transform-style: preserve-3d; }
    .card-purchase__btn {
      display: block;
      width: 60%;
      padding: .5em;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      transform-style: preserve-3d; }
  .card.rotate .card-logo {
    transform: translateZ(160px);
    -moz-transform: translateZ(160px);
    -webkit-transform: translateZ(160px); }
    .card.rotate .card-logo svg rect,
    .card.rotate .card-logo svg polygon,
    .card.rotate .card-logo svg path {
      fill: #0885dd; }
  .card.rotate .card-preview__img {
    transform: translateZ(200px) rotateZ(-45deg);
    -moz-transform: translateZ(200px) rotateZ(-45deg);
    -webkit-transform: translateZ(200px) rotateZ(-45deg); }
  .card.rotate .card-info__link {
    transform: translateZ(160px);
    -moz-transform: translateZ(160px);
    -webkit-transform: translateZ(160px); }
  .card.rotate .card-info__price {
    transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    -webkit-transform: translateZ(150px); }
  .card.rotate .card-info__desc {
    transform: translateZ(125px);
    -moz-transform: translateZ(125px);
    -webkit-transform: translateZ(125px); }
  .card.rotate .card-purchase {
    transform: translateZ(75px);
    -moz-transform: translateZ(75px);
    -webkit-transform: translateZ(75px); }

.options {
  transform-style: preserve-3d;
  transition: all 0.75s ease-out; }
  .options-title {
    margin-right: 1em;
    font-size: 0.55rem; }
  .options-list {
    display: flex;
    align-items: center;
    flex-flow: wrap; }
  .options-item {
    margin-right: .5em; }
  .options-btn {
    font-size: 0.55rem;
    font-weight: bold;
    transform-style: preserve-3d;
    transition: all 0.75s ease-out; }

@media screen and (max-width: 820px) {
  .card {
    max-width: 100%; }
    .card-preview__img {
      max-width: 60%; } }

@media screen and (max-width: 400px) {
  .market-list {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr)); } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .market-list {
    display: flex;
    justify-content: space-between; }
  .market-item {
    width: 30%; }
  .card-preview__img {
    top: 2rem;
    left: 1.5rem; } }

@media screen and (max-width: 800px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .market-list {
    flex-wrap: wrap; }
  .market-item {
    width: 100%;
    margin-top: .5em; } }
