doctype html
html(lang="en")
    head
        include ../modules/head
    body
        include ../modules/header
        include ../modules/content
        include ../modules/footer
        script(src="/js/script.bundle.js")
