@mixin resp($class) {
  @if $class == xxxs {
    @media (max-width: 350px) { @content; }
  }
  @if $class == xxs {
    @media (max-width: 491px) { @content; }
  }
  @else if $class == xs {
    @media (max-width: 575px) { @content; }
  }
  @else if $class == sm {
    @media (max-width: 767px) { @content; }
  }
  @else if $class == lg {
    @media (max-width: 991px) { @content; }
  }
  @else if $class == xl {
    @media (max-width: 1200px) { @content; }
  }
}

$baseline: 1.5rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: 1.2rem;
$maxFont: 1.6rem;

$h1: 1.1rem;
$h2: .8rem;
$h3: .55rem;
$h4: .4rem;
$h5: .3rem;


@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}


// IE Only BEGIN

@mixin ie-only {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin ie-only--mobile {
  @media screen and (max-width: 575px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

// IE Only END

@mixin flex {
  display: flex;
  align-items: center;
  @content;
}

@mixin navMobileBtn {
  height: 19px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  @content;
}


@mixin navMobileSpan {
  width: 35px;
  height: 2px;
  margin: 0;
  display: block;
  font-size: 0;
  background: $--color--main;
  border-radius: 20px;
  -webkit-transition: all .5s cubic-bezier(.77,.2,.05,1);
  transition: all .5s cubic-bezier(.77,.2,.05,1);
  @content;
}

@mixin title {
  color: $--color--main;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  white-space: nowrap;
  @content;
}

@mixin text {
  font-size: .75rem;
  line-height: 1.4;
  letter-spacing: 1px;
  @content;
}

// @mixin navMobileSpan--active {
//   span:nth-child(1) {
//     transform: rotate(45deg) translate(5px, 6px);
//   }
//   span:nth-child(2) {
//     background: transparent;
//   }
//   span:nth-child(3) {
//     transform: rotate(135deg) translate(-5px, 6px);
//   }
// }
