section.market
    h2.visually-hidden Our products
    .container
        ul.market-list
            //-li.market-item.card
            //-    .card-preview
            //-        .card-preview__circle
            //-        img.card-preview__img(src='assets/img/adidas.png' alt='adidas zx')
            //-    .card-info
            //-        h3.card-info__title Adidas ZX
            //-        p.card-info__price
            //-            span.count 200
            //-            span.mark &nbsp;$
            //-        p.card-info__desc Future-ready trainers with wrapped boost for exception comfort
            //-        .card-info__options
            //-            p.options-title Sizes:
            //-            button.options-btn.btn 39
            //-            button.options-btn.btn 40
            //-            button.options-btn.btn 41
            //-            button.options-btn.btn.btn--active 42
            //-            button.options-btn.btn 44
            //-    .card-purchase
            //-        button.card-purchase__btn.btn By now